<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>MusiStat ~ Artists</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
        crossorigin="anonymous" />

  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />

  <script src="https://cdn.jsdelivr.net/npm/ejs@3.1.10/ejs.min.js"></script>

  <script src="./scripts/artist.js"></script>

  <link rel="stylesheet" type="text/css" href="./styles/style.css" />
</head>
<body class="d-flex flex-column vh-100">

  <!--
    NAVBAR BEGIN
  -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary py-3">
    <div class="container col-12 col-lg-8">
      <a class="navbar-brand" href="./">
        MusiStat
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div id="navbar" class="collapse navbar-collapse mt-3 mt-lg-0">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="./me.html" id="navbarMe" class="nav-link">
              Me
            </a>
          </li>

          <li class="nav-item">
            <a href="./tracks.html" id="navbarTracks" class="nav-link">
              Top Tracks
            </a>
          </li>

          <li class="nav-item">
            <a href="./artists.html" id="navbarArtists" class="nav-link active">
              Top Artists
            </a>
          </li>
        </ul>

        <div class="mx-auto"></div>

        <div class="d-flex">
          <button type="button" id="login" class="btn btn-success mt-3 mt-lg-0">
            Login
          </button>

          <button type="button" id="logout" class="btn btn-danger mt-3 mt-lg-0">
            Logout
          </button>
        </div>
      </div>
    </div>
  </nav>
  <!--
    NAVBAR END
  -->

  <!--
    HEADER BEGIN
  -->
  <header class="bg-body-secondary" id="loggedHeader">
    <div class="container col-12 col-lg-6 py-5">
      <div class="my-5">

        <h6 class="display-6 m-0 p-0">
          <a href="#user" id="userName" class="link-success" target="_blank">User</a>'s
        </h6>

        <div class="my-3"></div>

        <h3 class="display-3 m-0 p-0">
          <span class="fw-bold">
            Top Artists
          </span>
        </h3>

      </div>
    </div>
  </header>
  <!--
    HEADER END
  -->

  <a id="options"></a>

  <!--
    LOGGED MAIN BEGIN
  -->
  <main class="container col-12 col-lg-6 my-5" id="loggedContent">

    <div class="row row-cols-1 row-cols-lg-2 gx-3 gy-5 gx-lg-5 gy-lg-5">
      <div class="col">
        <label for="timeRange" class="form-label">
          Time range
        </label>

        <select id="timeRange" class="form-select form-select-lg">
          <option value="short_term" selected>Last month</option>
          <option value="medium_term">Last 6 months</option>
          <option value="long_term">Last Year</option>
        </select>
      </div>

      <div class="col">
        <label for="limit" class="form-label">
          Artists #
        </label>

        <select id="limit" class="form-select form-select-lg">
          <option value="10" selected>10</option>
          <option value="25">25</option>
          <option value="50">50</option>
        </select>
      </div>
    </div>

    <div class="my-5"></div>

    <div class="row row-cols-1 row-cols-lg-1 gx-3 gy-5 gx-lg-5 gy-lg-5" id="pageContent">
      <div class="col">
        <div class="alert alert-info p-5">
          <h3 class="fs-3 m-0 p-0 text-center">
            Loading...
          </h3>
        </div>
      </div>
    </div>

    <!--
      ERROR TEMPLATE BEGIN
    -->
    <script type="text/template" id="pageErrorTemplate">
      <div class="col">
        <div class="col">
          <div class="alert alert-danger p-5">
            <h1 class="fs-1 m-0 p-0 text-center">
              Error!
            </h1>
          </div>
        </div>
      </div>
    </script>
    <!--
      ERROR TEMPLATE END
    -->

    <!--
      ARTISTS TEMPLATE BEGIN
    -->
    <script type="text/template" id="pageContentTemplate">
      <% for (let i = 0; i < artists.length; i++) { %>
        <% const artist = artists[i]; %>

        <div class="col">
          <div class="row align-items-center gx-3 gy-5 gx-lg-5 gy-lg-5">

            <div class="col-12 col-lg-auto">
              <h3 class="fs-3 font-monospace m-0 p-0">
                <%= (i + 1).toString().padStart(2, "0") + "."; %>
              </h3>
            </div>

            <div class="col-12 col-lg-auto">
              <img src="<%= artist.images[0].url %>" class="img img-sm img-fluid" />
            </div>

            <div class="col-12 col-lg">
              <div class="row align-items-center g-1">
                <div class="col-12">
                  <h3 class="fs-3 m-0 p-0">
                    <%= artist.name %>
                  </h3>
                </div>
              </div>
            </div>

            <div class="col-12 col-lg-auto">
              <a href="<%= artist.external_urls.spotify; %>" class="btn btn-success" target="_blank">
                Spotify
              </a>
            </div>

          </div>
        </div>
      <% } %>

      <div class="col">
        <a href="#options" class="btn btn-outline-secondary">
          Top
        </a>
      </div>
    </script>
    <!--
      ARTISTS TEMPLATE END
    -->

  </main>
  <!--
    LOGGED MAIN END
  -->

  <!--
    UNLOGGED MAIN BAGIN
  -->
  <main class="container col-12 col-lg-6 mt-auto" id="unloggedContent">
    <div class="row justify-content-center gx-3 gy-3 gx-lg-3 gy-lg-3">

      <div class="col-12">
        <div class="row justify-content-center gx-3 gy-5 gx-lg-5 gy-lg-5">
          <div class="col-auto">
            <h6 class="display-6 m-0 p-0">
              <span class="fw-bold">
                Oh, No 😭😭😭!
              </span>
            </h6>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="row justify-content-center gx-3 gy-5 gx-lg-5 gy-lg-5">
          <div class="col-auto">
            <h3 class="display-6">
              You are not logged!
            </h3>
          </div>
        </div>
      </div>

      <div class="my-3"></div>

      <div class="col-12">
        <div class="row justify-content-center gx-3 gy-5 gx-lg-5 gy-lg-5">
          <div class="col-auto">
            <button type="button" id="homeLogin" class="btn btn-lg btn-success">
              Login with Spotify now!
            </button>
          </div>
        </div>
      </div>

    </div>
  </main>
  <!--
    UNLOGGED MAIN END
  -->

  <!--
    BEGIN FOOTER
  -->
  <footer class="bg-body-tertiary mt-auto mb-0 py-3">
    <div class="container col-12 col-lg-8 my-auto py-auto">
      <div class="row g-3">

        <div class="col-12 col-lg-auto">
          <a href="./" class="link-success">
            MusiStat!
          </a>
        </div>


        <div class="col-12 col-lg-auto">
          Made with ❤️ by <a href="https://github.com/reallukee" class="link-success" target="_blank">Reallukee</a>
        </div>

      </div>
    </div>
  </footer>
  <!--
    END FOOTER
  -->

  <noscript>JavaScript is Required!</noscript>

  <script src="./scripts/app.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
          crossorigin="anonymous">
  </script>
</body>
</html>
